

.main-content{
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.cropit-image-preview {
	background-color: #f8f8f8;
	background-size: cover;
	width: 650px;
	height: 650px;
	cursor: move;
}

.cropit-image-background {
	opacity: .2;
	cursor: auto;
}

.image-size-label {
	margin-top: 10px;
	font: 16px Arial;
	font-weight: bold;
}

input {
	display: block;
}

.export {
	margin-top: 10px;
}

#leCanvas{
	position: absolute;
	top:0px;
	pointer-events: none;
}

.column{
	float: left;
}

.column:nth-child(1){
	width: 660px;
	padding-right: 20px;
}

.column:nth-child(2){
	width: 200px;
	margin-top: 100px;
}

.cropit-image-input{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
}

.select-image-btn{
	margin-top: 10px;
	font: 16px Arial;
	background: #52a0c7;
	color: #fff;
	padding: 5px 10px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	-webkit-box-shadow: 0 2px #3784aa;
	box-shadow: 0 2px #3784aa;
}

.export, #dl{
	font-size: 16px;
	border: none;
	background: #cf754f;
	color: #fff;
	padding: 5px 10px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	-webkit-box-shadow: 0 2px #b45831;
	box-shadow: 0 2px #b45831;
}

#dl{
	background: #2FB163;
}

.note{
	font: 16px Arial;
}

#rotate_left, #rotate_right{
	padding: 7px 10px;
	font-size: 20px;
	margin-top: 10px;
}

.checkbox input{
	float: left;
}

.move_logo{
	margin-top: 10px;
}
.footer{
    padding-top: 15px;
    width: 990px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
#stateCombo{
    font: 16px Arial;
}